<form id="product-form"  method="POST" enctype="multipart/form-data" novalidate>
    {% csrf_token %}

    {% for error in form.non_field_errors %}
       <p class="text-danger fs-6">{{ error }}</p>
    {% endfor %}
    <p><label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label></p>
    <p>{{ form.name }}</p>
    {% for error in form.name.errors %}
       <p class="text-danger fs-6">{{ error }}</p>
    {% endfor %}

    <p><label for="{{ form.description.id_for_label }}">{{ form.description.label }}</label></p>
    <p>{{ form.description }}</p>
    {% for error in form.description.errors %}
       <p class="text-danger fs-6">{{ error }}</p>
    {% endfor %}

    <div class="text-end">
        <a href="{% url 'products' %}" class="btn btn-secondary me-2">Отмена</a>
        <button type="submit" class="btn btn-success">Сохранить</button>
    </div>
</form>