{% block content %}
<div class="row">
    {% for product in data %}
    <div class="col-md-4 mb-4">
        <div class="card h-100">
          <img src="{{ product.product_img }}" class="card-img-top" alt="{{ product.name }}">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">{{ product.name }}</h5>
            <ul class="list-group list-group-flush mb-3">
                <li class="list-group-item">
                  Category: <a href="{% url 'category_product' product.category.name %}">{{ product.category.name }}</a>
                </li>
                <li class="list-group-item">Price: {{ product.price }}</li>
                <li class="list-group-item">In Stock: {{ product.quantity }}</li>
            </ul>
            <a href="{% url 'product_detail' product.pk %}" class="btn btn-primary mt-auto">see more &gt;&gt;</a>
          </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
