{% extends "base.html" %}

{% block content %}
<div class="card mb-3 mx-auto" style="max-width: 850px;">
  <div class="row g-0">
      <div class="col-md-5">
      <img src="{{ data.product_img }}" class="img-fluid rounded-start" alt="">
    </div>
    <div class="col-md-7">
      <div class="card-body">
        <h2 class="card-title">{{ data.name }}</h2>
            <p class="card-text mb-1"><strong>Category:</strong> {{ data.category.name }}</p>
            <p class="card-text mb-1"><strong>Price:</strong> {{ data.price }} </p>
            <p class="card-text mb-3"><strong>In Stock:</strong> {{ data.quantity }} </p>

          <div class="card-text mt-3">
            <pre style="font-family: inherit; white-space: pre-wrap;">{{ data.description }}</pre>
          </div>
          <p class="card-text mt-auto"><small class="text-muted">added: {{ data.create_date }}</small></p>
          <div class="card-footer bg-transparent border-0 text-end pb-3">
                <hr class="text-muted my-2">
                <a href="{% url 'product_edit' data.pk %}" class="btn btn-sm btn-outline-warning me-1">
                    <i class="fa-regular fa-pen-to-square me-1"></i>
                </a>
                 <button type="button" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#data-{{ data.pk }}-Modal">
                     <i class="fa-solid fa-trash-can"></i>
                 </button>
                {% include 'store/partial/product_delete_modal.html' with data=data %}
            </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
